
footer{
    background-color:  #008aff;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 25px;
}

.foto{
    width: 300px;
    justify-items: space-between;
    border: #0e41e7 solid 1px;
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    background-color: rgb(161, 194, 212);
}

.principalCar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    height: 200px;    
    width: 100%;
}

.principalCar img {
    width: 500px;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

#saiba-mais {
    align-self: center;
    font-size: 1.5em;
    width: 120px;
    background-color: black;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

p {
    text-align: center;
    font-size: 1.3em;
}

h4 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
    width: 100%;
}

#condicao {
    align-self: center;
    font-size: 1.4em;
    width: 180px;
    height: 50px;
    background-color: rgb(3, 27, 245);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    margin: auto;
}

#preco{
    font-size: 1.4em;
    margin: auto;
}

h3{
    text-align: top;
}


.footer-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.footer-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.footer-section p{
    display: flex;
    text-align: start;

} 

.instagram,
.whatsapp {
    width: 40px;
  
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}

.topoHeader {
    background-color: #1e88e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px; 
}

.logoHeader img {
    height: 100%;
    max-height: 70px;
    padding: 20px;
}

.buscaHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.buscaHeader input {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.buscaHeader button {
    padding: 10px 10px;
    border: none;
    background-color: #1565c0;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.buscaHeader button:hover {
    background-color: #0d47a1;
}


.redesHeader img {
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.menuHeader {
    background-color: #dcdcdc;
    text-align: right;
    padding: 15px 40px;
}

.menuHeader a {
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.menuHeader a:hover {
    color: #1e88e5;
}
 
.buscaHeader svg {
    width: 100%;
    height: 14px;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}

/* HEADER */
.topo {
    background-color: #1e88e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
}

.logo img {
    height: 70px;
}

/* BUSCA */
.busca {
    display: flex;
    align-items: center;
    width: 50%;
}

.busca input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.busca button {
    padding: 10px 15px;
    border: none;
    background-color: #1565c0;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.busca button:hover {
    background-color: #0d47a1;
}

/* REDES */
.redes img {
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

/* MENU */
.menu {
    background-color: #dcdcdc;
    text-align: right;
    padding: 15px 40px;
}

.menu a {
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu a:hover {
    color: #1e88e5;
}

/* BANCOS */
.bancos {
    padding: 40px;
}

.bancos h2 {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

/* GRID */
.grid-bancos {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

/* CARD */
.banco {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.banco:hover {
    transform: translateY(-5px);
}

/* NOME */
.nome-banco {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

/* CAIXA */
.img-banco {
    width: 280px;
    height: 160px;
    background-color: #ddd;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* IMAGEM */
.img-banco img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/*ARRUMA A BARRA DE PESQUISA E COM O BOTÃO/SVG UM AO LADO DO OUTRO*/
.buscaInput form {
    display: flex;
    align-items: center;
    gap: 2px;

}

/*Esses tres "contatoPagina" serve para organizar as informaçoes que apareciam todas juntas na aba 'contatos'. Agora, eles aparecem organizadors um ao lado do outro. */
.contatoPagina {
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;
    
    box-shadow: 0 4px 12px rgba(0,0,0,0.8);
}
.contatoPagina h1{
    font-size: 32px;
    margin-bottom: 20px;
    color: #111;
}
.contatoPagina p {
     font-size: 20px;
    margin-bottom: 20px;
    color: #444;
}
