footer{
    background-color:  #008aff;
    justify-content: space-around;
}



p {
    text-align: center;
    font-size: 1.3em;
}



.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.instagram,
.whatsapp {
    width: 30px;
    padding-bottom: 10px;
}